# Ignorar node_modules dentro da pasta backend
/backend/node_modules/

# Ignorar o arquivo .env dentro da pasta backend
/backend/.env

# Ignorar arquivos de log em qualquer parte do projeto
*.log

# Ignorar arquivos do sistema (macOS) em qualquer parte do projeto
.DS_Store


