/* Tabela de alunos - Design simples e responsivo */
.student-table {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-spacing: 0; /* Remove o espaçamento entre células */
}

.student-table h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.student-table table {
    width: 100%;
    border-collapse: separate; /* Usar border-collapse separado para permitir o spacing */
    margin-top: 10px;
    border-spacing: 0 10px; /* Ajusta o espaçamento entre as linhas */
}

.student-table th,
.student-table td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #f1f1f1;
}

.student-table th {
    background-color: #f7f7f7;
}

.student-table tr:hover {
    background-color: #f8f9fa;
}

/* Ajuste nas células da primeira coluna */
.student-table td:first-child {
    padding-left: 20px; /* Margem à esquerda para a primeira célula */
}

/* Ajuste nas células da última coluna */
.student-table td:last-child {
    padding-right: 0; /* Remove o padding extra à direita */
}

.edit-button {
    padding: 12px 12px;
    font-size: 16px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button {
    padding: 12px 12px;
    font-size: 16px;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #e53935;
}
