/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Dropdown Button */
  .dropdown-button {
    background: #ddd;
    color: #333;
    width: 50px;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-button:hover {
    background-color: #eee;
  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 10;
    padding:0;
    margin: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s; /* Visibilidade controlada */
    list-style: none; /* Remove os marcadores */
    top: -10px; /* Coloca o menu imediatamente abaixo do botão */
    left: 0%;
  }

    
  /* Exibe o menu quando estiver aberto */
  .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s ease 0s; /* Mostra o menu */
  }
  
  /* Dropdown Items */
  .dropdown-item {
    padding: 12px 24px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    width: 70px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f8f8f8;
    color: #666;
  }
  